body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

* {
	font-family: Verdana, Geneva, sans-serif;
}

a {
	color: #AAAAAA;
}

#config-cog {
	position: fixed;
	right: 0;
	top: 0;
	width: 32px;
	height: 32px;
	margin: 16px;
	cursor: pointer;
}

#config-box {
	width: 500px;
	background-color: #2C2F33;
	color: #FFFFFF;

	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
}

#config-box.hidden {
	display: none;
}

#config-header {
	text-align: center;
}

h1 {
	margin-bottom: 0;
}

#config-content {
	padding-left: 30px;
}

@media only screen and (max-width: 800px) {
	#config-box {
		width: 100%;
	}
}